:host {
  margin: 20px;
}

form {
  padding: 20px;
}

p-autocomplete,
p-autocomplete .p-inputwrapper {
  width: 100%;
}


p-autocomplete button.p-button {
  background: #f5f5f5;
  border-bottom: 1px solid #9b9b9b;
  border-bottom-right-radius: 0;
}