<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Country</mat-label>
    <input
      type="text"      
      aria-label="Country"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
