/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*  primeNg  */

p-autocomplete button.p-button {
  background: #f5f5f5;
  border-bottom: 1px solid #9b9b9b;
  border-bottom-right-radius: 0;
}

.p-input-filled /*.p-inputtext:enabled:hover*/ button:hover {
  background-color: #ececec;
  /*border-color: transparent;*/
  border-bottom: 1px solid #292929;

  /*background-image: linear-gradient(to bottom, #3F51B5, #3F51B5), linear-gradient(to bottom, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87));*/
}

/* Dimension */
p-autocomplete {
  display: block;
}
p-autocomplete .p-inputwrapper {
  width: 475px;
  max-width: 100%;
}